/node_modules
/public/hot
/public/storage
/public/insumos
/public/decretos
/public/pdf
/public/anexos
/public/recepciones
/public/orden_compras
/storage/*.key
/vendor
/packages
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/solicitudes
solicitudes.zip
